@charset "UTF-8";

@font-face {
    font-family: 'Black Ops One';
    src: url(../fonts/Black_Ops_One/BlackOpsOne-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;    
}

body {
    background-color: rgb(26, 62, 191);
}

#flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

#flex_2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 80px;
    
}

.flex_itens {
    flex-grow: 1;    
    font-family: 'Black Ops One';
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px black;
    padding: 100px;
    font-size: 4.5em;
}

.flex_itens_2 {
    flex-grow: 1;    
    background-color: white;
}

#imagemMarta {
    flex-grow: 1;
}